@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.cent-list {
  display: 'flex';
  flex-wrap: 'wrap';
}

.post {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 185px;
  min-width: fit-content;
  box-sizing: border-box;
  padding: 30px;
  background: #fff;
  color: #333;
  border: #d9d9d9 solid 1px;
  border-radius: 4px;
}
.post > div:first-child {
  text-align: center;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.card-title {
  margin-right: 5px;
  border-bottom: 2px solid #48b9e1;
}
.bio {
  text-align: justify;
  min-height: 120px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1
}


.badge-light {
  border: #ccc solid 1px;
}
.expand {
  font-size: 16px;
  color: #48b9e1;
  position: relative;
  top: 2px;
}
.expand-up {
  font-size: 16px;
  color: #48b9e1;
  position: relative;
  top: 3px;
}
/* .sarra{
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;} */
