
@import '~antd/dist/antd.css';
/*nav bar*/


/*projects*/
.projectsList .ant-list-pagination {display: flex; justify-content: center}
.projectHeader{text-transform: uppercase;color:#213869;    font-size: 20px;    line-height: 20px;    align-items: center;
margin-bottom: 20px !important;display: flex;justify-content: space-between}

.projectHeader h2{margin-bottom: 0}
.projectsList i{    color: rgba(70, 194, 255, 0.82);padding: 0 10px}
.projectsList span span{font-size: 15px !important;    color: #89889c;}
.ant-layout{background-color: white}
.thematic{
    color: #096dd9;    text-transform: capitalize;}
  
.thematiqueHeader{border: 1px solid #e6d8d8;  margin-bottom: 0px;padding: 5px;border-radius: 5px;} 
.ant-list-item-meta-title{margin-bottom: 0px !important}
.description{color: black;
    text-align: justify;}
.lire-la-suite{padding: 5px;  margin-top: 5px;    border: none;}
         
.lire-la-suite i{padding: 0;color: rgb(0, 136, 204);}